<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
  <div style="display: inline-block;" id="contentToConvert">
    <div style="background: #ec2a2a">IMBAS KOD QR DI BAWAH</div>
    <div>
      <qrcode
        [qrdata]="qrString"
        [width]="200"
        [errorCorrectionLevel]="'M'"
      ></qrcode>

      <div>SESI LIBAT URUS AHLI PARLIMEN PAYA BESAR</div>
      <div>Lokasi</div>
      <div>AWANGAN PALACE</div>
      <div>Tarikh</div>
      <div>20/4/2022</div>
      <div>Masa</div>
      <div>6.45 PM</div>
    </div>
  </div>
</div>

<br />
<input type="button" value="Download Pdf" (click)="captureScreen()" />
<br />
<!-- <input type="button" value="Download Pdf 2" (click)="captureScreen2()" /> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
